//buttons, paragraphs, h1, h2..
@import "_core";
@import "_media-queries";

.btn__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background-color: white;
  color: black;
  border-radius: 24px;
  border-color: black;
  font-weight: 500;
  font-size: 16px;
}

.btn__header:hover {
  background-color: black;
  color: white;
}

.btn__enter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 80px;
  height: 40px;
  border: 2px solid $black;
  background-color: white;

  &__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    width: 55px;
    height: 32px;
    border: 2px solid $black;
    background-color: white;
    font-size: 12px;
    margin-top: 0px;
  }
}

.btn__article {
  border: 2px solid $black;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 204px;
  height: 40px;
  background-color: white;
  color: black;
  margin-right: 10px;
  font-weight: 600;
}

.article__title {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  margin-top: 0;

  @include medium {
    font-size: 48px;
  }
  @include small {
    font-size: 48px;
  }

  &__h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
  }

  &__h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    width: 150px;
    height: 5px;

    @include medium {
      font-size: 20px;
    }
    @include small {
      font-size: 20px;
    }
  }
}

a {
  color: black;
  text-decoration: none;
}
.date {
  width: 312px;
  height: 24px;
  left: 0px;
  top: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.002em;
  color: $p_color;
  padding-top: 20px;

  &__row {
    font-size: 15px;
    width: 312px;
    height: 24px;
    left: 0px;
    top: 72px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.002em;
    color: $p_color;
    font-weight: 500;
  }

  &__column {
    margin-top: 0;
    font-size: 14px;
    width: 312px;
    height: 2px;
    left: 0px;
    top: 72px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.002em;
    color: $p_color;
    font-weight: 500;
  }

  &__footer {
    color: $p_color;
    @include medium {
      display: none;
    }
    @include small {
      display: none;
    }
  }

  &__footer__mobile {
    display: none;
    @include medium {
      display: flex;
      float: right;
      color: $p_color;
    }
    @include small {
      display: flex;
      float: right;
      color: $p_color;
    }
  }
}

.social__mobile {
  display: none;
  @include medium {
    width: 38px;
    height: 38px;
    display: inline-block;
    align-items: center;
  }
  @include small {
    width: 38px;
    height: 38px;
    display: inline-block;
    align-items: center;
  }
}
.social {
  width: 38px;
  height: 38px;
  margin-right: 10px;

  @include medium {
    display: none;
  }
  @include small {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 110px;
  height: 40px;
  padding-top: -10px;
  @include medium {
    display: none;
  }

  &__znak {
    display: none;

    @include medium {
      display: flex;
      align-items: center;
      height: 34px;
      width: 35px;
      padding-top: -10px;
    }
  }
}

.content {
  width: 548px;
  height: 160px;
  margin-right: 0px;
  margin-top: 50px;

  &__marked {
    background-color: rgb(255, 255, 153);
    font-weight: 300;
    width: 548px;
    height: 160px;
    left: 736px;
    right: 156px;
    font-size: 20px;
    line-height: 32px;

    @include medium {
      font-size: 16px;
    }
    @include small {
      font-size: 16px;
    }
  }

  &__2 {
    height: 688px;
    left: 736px;
    right: 156px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 32px;
    @include medium {
      font-size: 16px;
    }
    @include small {
      font-size: 16px;
    }
  }
}

.social__share {
  width: 38px;
  height: 38px;
  margin-right: 5px;
}

.arrow__left {
  display: flex;
  justify-content: space-evenly;
}

.arrow__right {
  float: right;
}

.photo__left {
  margin-top: 76px;
  width: 250px;
  height: 250px;
  position: relative;
}
.photo__right {
  width: 250px;
  height: 250px;
  position: relative;
}
.photo__left:before {
  content: "";
  height: 41.67px;
  width: 94.86px;
  background-color: $tape;
  position: absolute;
  top: -5px;
  left: -5px;
  transform: translateX(-30%) translateY(10%) rotate(-45deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.photo__right:before {
  content: "";
  height: 41.67px;
  width: 94.86px;
  background-color: $tape;
  position: absolute;
  top: -5px;
  left: -5px;
  transform: translateX(460%) translateY(-70%) rotate(-45deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
